@*
    * Author: Ashley Johansson
    * Date Created: 10/12/19 6:43 PM
    * Date Updated: 10/12/19  6:45 PM
    * A message board where community members can
    * communicate with one another.
*@

@model String


@{
    ViewData["Title"] = "Contact Page";
}
<body>
    <h3>Reply to <em> @Model</em></h3>
    <p>Message other members of Berk instantly! It's faster than d-mail!</p>
    <form asp-controller="Message" asp-action="post" method="post">
        <label for="memberName">Member</label>
        <input name="memberName" /><br /> <br />
        <label for="messageText">Message</label>
        <textarea name="messageText" rows="3" cols="100"></textarea>
        <input type="submit" value="Enter" />
    </form>
    <a href="Index">List of Messages</a>
</body>