@*
    * Author: Ashley Johansson
    * Date Created: 10/04/19 10:20 AM
    * Date Updated: 10/12/19  6:43 PM
    * A message board where community members can
    * communicate with site administrators.
*@
@model String
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MessageBoard</title>
</head>
<body>
    <h3>Reply to <em> @Model</em></h3>
    <form method="post">
        <label for="memberName">Member</label>
        <input name="memberName" /> <br />
        <label for="messageText">Message</label>
        <textarea name="messageText" rows="5" cols="25"></textarea>
        <input type="submit" value="Enter" />
    </form>
    <a href="MessageAdmin">List of messages to Admin</a> <br />
    <a href="ContactPage">Or contact other Members!</a> <br />
    <a href="/Home/Index">Back to Home</a>
</body>
</html>