@*
    * Author: Ashley Johansson
    * Date Created: 10/12/19 6:43 PM
    * Date Updated: 10/12/19  6:45 PM
    * A list of messages sent and received
*@
@model List<Message>

@{
    ViewData["Title"] = "Messages to Admins";
}
<body>
    <h2>List of Messages to Admins: </h2><br />
    @foreach (Message message in Model)
    {
        <em>@message.MemberName</em>;<br />
        @message.MessageText; <br />
        @*@message.Sent;*@
        <a asp-action="MessageBoard" asp-route-sent="@message.Sent"
           asp-route-name="@message.MemberName">Reply</a> <br />
        <br />
    }
    <br>
    <a href="MessageBoard">Add a new message</a><br />
    <a href="Messages">Message other Community Members</a> <br />
    <a href="/Home/Index">Home</a>
</body>
