@*
    * Author: Ashley Johansson
    * Date Created: 10/12/19 6:43 PM
    * Date Updated: 10/12/19  6:45 PM
    * A list of messages sent and received
*@
@model List<Message>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MessageAdmin</title>
</head>
<body>
    List of Messages to Admins: <br />
    @foreach (Message message in Model)
    {
        @message.MemberName; <br />
        @message.MessageText; <br />
        <a asp-action="MessageBoard" asp-route-sent="@message.Sent">Reply</a> <br />
        <br />
    }
    <br>
    <a href="MessageBoard">Add a new message</a><br />
    <a href="Index">Home</a>
</body>
</html>
