@*
    * Author: Ashley Johansson
    * Date Created: 10/12/19 6:43 PM
    * Date Updated: 10/12/19  6:45 PM
    * A message board where community members can
    * communicate with one another.
*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactPage</title>
</head>
<body>
    <p>Message other members of Berk instantly! It's faster than d-mail!</p>
    <form method="post">
        <label for="message">Message</label>
        <input name="message" /><br />
        <input type="submit" value="Enter" />
    </form>
    @* TODO: Save messages. *@
    <a href="Messages">List of Messages</a>
</body>
</html>