@*
    * Author: Ashley Johansson
    * Date Created: 10/04/19 10:20 AM
    * Date Updated: 10/06/19  4:11 PM
    * A static View Page for the History of Berk as a community.
*@

@{
    Layout = "_HomePages";
    ViewData["Title"] = "History";
}
<body>
    @* TODO: Write a brief history on Berk *@
    <h3>More Details Coming Soon!</h3>
</body>