@*
    * Author: Ashley Johansson
    * Date Created: 10/04/19 10:20 AM
    * Date Updated: 10/12/19  6:43 PM
    * A message board where community members can
    * communicate with site administrators.
*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MessageBoard</title>
</head>
<body>
    <p>Message administrators of Berk with any questions or suggestions.</p>
    <form method="post">
        <label for="sender">Sender</label>
        <input name="sender"/> <br />
        <label for="messageText">Message</label>
        <input name="messageText" /><br />
        <input type="submit" value="Enter" />
    </form>
    <a href="ContactPage">Or contact other Members!</a> <br />
    <a href="Index">Back to Home</a>
</body>
</html>