@*
    * Author: Ashley Johansson
    * Date Created: 10/04/19 10:20 AM
    * Date Updated: 10/06/19  4:15 PM
    * A message board where community members can
    * communicate with one another.
*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MessageBoard</title>
</head>
<body>
    @* TODO: Create a messaging form. *@
    <h2>Coming Soon: A messaging Board.</h2>
    <p>Message other members of Berk instantly! It's faster than d-mail!</p>
</body>
</html>