@*
    * Author: Ashley Johansson
    * Date Created: 10/04/19 10:21 AM
    * Date Updated: 10/06/19  4:19 PM
    * A View Page that contains a list of some of
    * the most important people within the Berk 
    * community. Including pictues and brief descriptions,
    * possibly even links to further information.
*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Info</title>
</head>
<body>
    @* TODO: Add People *@
    <h2>
        Coming Soon: A list of Berk's own VIPs including, but not limited to, Berk's very own Dragon Conquerer: Hiccup Horrendous Haddock III!
    </h2>

</body>
</html>