@model String
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add a Comment</title>
</head>
<body>
    <h2>You are commenting on <em> @Model</em></h2>
    <form method="post">
        <label for="memberName">Member</label>
        <input name="memberName" /> <br />
        <label for="commentText">Message</label> <br />
        <textarea name="commentText" rows="5" cols="25"></textarea>
        <input type="submit" value="Enter" /> 
    </form>
</body>
</html>