@model String

@{
    ViewData["Title"] = "Add a Comment";
}
<body>
    <h2>You are commenting on <em style="font-style:italic"> @Model</em></h2>
    <form asp-rout-place="Model" method="post">
        <label for="memberName">Member</label>
        <input name="memberName" /> <br /> <br />
        <label for="commentText">Message</label>
        <textarea name="commentText" rows="3" cols="100"></textarea>
        <input type="submit" value="Enter" />
    </form>
</body>