@*
    * Author: Ashley Johansson
    * Date Created: 10/04/19 10:20 AM
    * Date Updated: 10/06/19  4:12 PM
    * A View Page detailing information about
    * the Berk commmunity, including links to
    * special locations and important people, and
    * a list of upcoming community events.
*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Info</title>
</head>
<body>
    @* TODO: Add highlights or events to the page *@
    <h2>
        Coming Soon: An entire list of community events,
        best <a asp-action="Locations"> locations</a>,
        and our <a asp-action="VIP">VIPs</a>!
    </h2>

</body>
</html>