@*
    * Author: Ashley Johansson
    * Date Created: 10/04/19 10:21 AM
    * Date Updated: 10/06/19  4:14 PM
    * A viewpage containing a list of locations
    * including pictures and descriptions of each place
    * which detail the relevance of the listings.
*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Info</title>
</head>
<body>
    @* TODO: Add locations *@
    <h2>
        Coming Soon: A complete list of the best places to go on Berk.
    </h2>
    <p>Berk's Dragon Training Academy</p>
    <p>Gobber the Belch's Blacksmithy and Dragon Dentistry</p>
    <p>The Great Hall - eat with Dragons!</p>
</body>
</html>