<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Berk</title>
    <link href="~/css/Berk.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @RenderBody()
    @if (ViewData["Title"].ToString() == "VIPs")
    {
        <p>The number of VIPs so far: @ViewBag.peopleCount</p>
    }
    @if (ViewData["Title"].ToString() == "Locations")
    {
        <p>The number of locations so far: @ViewBag.placeCount</p>
    }

</body>
</html>
