@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_HomePages";
    ViewData["Title"] = "Practice";
}

<h2>Welcome to the Practice pages!</h2>
<h3>Here is a link to a page called <a href="Practice/Redirect">Redirect</a> that should redirect you to a page called Code Type.</h3>
<h4>CodeType should display an object of a type and give its codetype in numerical and string value.</h4>


<h3>Here is a link to a page called <a href="Practice/Object">Object</a> that should return one of five possible json objects.</h3>

<h3>Here is a link to a page called <a href="Practice/ContentResult">Content Result</a> that should display the content passed to it as an argument</h3>